<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> Welcome to Daily Blog - Your Tech-Focused Hub!<br>
<br>
Discover the latest in technology, innovation, and beyond on Daily Blog. Dive into the fascinating world of tech with our carefully curated articles, insightful reviews, and expert analysis. We're a one-stop destination for all things tech, bringing you updates and trends from the ever-evolving tech landscape.<br>
<br>
What sets Daily Blog apart is our dedication to providing quality content that matters. Our front-end, crafted with HTML, CSS (Bootstrap), and Javascript, ensures a smooth and intuitive user experience. Meanwhile, the robust back-end powered by Node.js and MongoDB guarantees seamless performance and reliability.<br>
<br>
Stay informed and entertained as we cover a wide range of topics, including AI, cybersecurity, software development, gadgets, and much more. Whether you're a tech enthusiast, professional, or just curious about the future, Daily Blog has something for everyone.<br>
<br>
Join our tech-savvy community today and be a part of the conversation. Explore, learn, and engage with Daily Blog - where tech insights come to life. </p>
<%- include("partials/footer"); -%>
