<%- include("partials/header"); -%>
    <h1>Contact Us</h1>
    <p>

<br>
We value your feedback and questions. Don't hesitate to reach out to us if you have any inquiries or suggestions. Use the contact details provided below or fill out the contact form, and we'll get back to you as soon as possible.<br>
<br>
Email: aryanjain020115@gmail.com<br>
Phone: +91 9039058075<br>
<br>
Our team is eager to assist you and provide the best possible support. Whether it's a technical issue, content-related query, or partnership opportunity, we're here to listen and respond.<br>
<br>
Feel free to connect with us on our social media channels too:<br>
Facebook: www.facebook.com/Aryanjain<br>
Twitter: www.twitter.com/Aryan15102<br>
Instagram: www.instagram.com/Aryanjain7475<br>
<br>
Thank you for being a part of the Daily Blog community. We look forward to hearing from you!<br> </p>
<%- include("partials/footer"); -%>
